
{%extends "dashboard.html"%}
{%load staticfiles%}

{% block navigation %}

		<div class="nav">
		<div class="table">
		
		<ul class="current"><li><a ><b>COURSE</b><!--[if IE 7]><!--></a><!--<![endif]-->
		<!--[if lte IE 6]><table><tr><td><![endif]-->
		<div class="select_sub show">
			<ul class="sub">
			    <li ><a href="{{URL_PREFIX}}/chapter_and_topics/">CHAPTERS & TOPICS</a></li>
				<li class="sub_show"><a href="{{URL_PREFIX}}/qa/">QA</a></li>
			</ul>
		</div>
		<!--[if lte IE 6]></td></tr></table></a><![endif]-->
		</li>
		</ul>
		
		<div class="nav-divider">&nbsp;</div>
		                    
		<ul class="select"><li><a ><b>STUDENTS</b><!--[if IE 7]><!--></a><!--<![endif]-->
		<!--[if lte IE 6]><table><tr><td><![endif]-->
		<div class="select_sub ">
			<ul class="sub">
				<li><a href="{{URL_PREFIX}}/student/">STUDENTS</a></li>
				<li><a href="{{URL_PREFIX}}/progress/">PROGRESS</a></li>
			</ul>
		</div>
		<!--[if lte IE 6]></td></tr></table></a><![endif]-->
		</li>
		</ul>
		
		<ul class="select"><li><a ><b>DEVICES</b><!--[if IE 7]><!--></a><!--<![endif]-->
		<!--[if lte IE 6]><table><tr><td><![endif]-->
		<div class="select_sub">
			<ul class="sub">
				<li ><a href="{{URL_PREFIX}}/device/">DEVICES</a></li>
				
			</ul>
		</div>
		<!--[if lte IE 6]></td></tr></table></a><![endif]-->
		</li>
		</ul>
		
		<div class="nav-divider">&nbsp;</div>
		
		
		
		<div class="clear"></div>
		</div>
		<div class="clear"></div>
		</div>
		<!--  start nav -->

{% endblock %}
		
{%block content_header%}
	<div id="page-heading">
	    <table border="0" width="97%">
	    	<tr>
	    	<td><b style="font-size:25px;font-weight:bold;">&nbsp;&nbsp;&nbsp;Edit Questions </b></td>
	    	<td align="right"><a style="background:#527A00;color:white;border-radius:5px;padding:10px;font-weight:bold;" href="{{URL_PREFIX}}/qa/"> Back </a</td>
	    	</tr>
	    </table>
	</div>
{%endblock%}


{%block main_content%}
	<form id="mainform" action="" method="post">
	<table border="0" width="100%" cellpadding="0" cellspacing="0" >
	                
					{%for q in topic.questions.all %}
					     <tr >
					     	
					     	<td style="padding:0px">
					     		<table border="0" cellpadding="50" width="100%">
					     			<tr ><td colspan="4" style="font-size:15px" colspan="3"> ( {{forloop.counter}} ){{q.title|upper}} <br></tr>
					     			
					     			<tr>
					     			<td>
					     			Answer:
					     			<select>
					     			{%for o in q.options.all%}
					     			    <option>{{o.title|upper}}</option>
					     			{%empty%}
					     			    <option>{{o|upper}}</option>
					     			{%endfor%}
					     			</select>
					     			</td>	
					     			</tr>
					     			
					     			<tr>
					     			<td><br></td>
					     			</tr>
					     		</table>
					     	
					     	</td>
						 </tr>
					{%empty%}
						<tr>
					     	<th colspan="2" style="background:light-yellow">NOT FOUND !</th>
					    </tr>
					{%endfor%}
					
			</table>
			<br/><br/>
						
			</br></br>
			<input type="submit" value="" class="form-submit" />
			<input type="reset" value="" class="form-reset"  />
							
	</form>


{%endblock%}


