
{%extends "dashboard.html"%}

{%block navigation%}
<div class="nav">
		<div class="table">
		
		<ul class="current"><li><a ><b>CONFIGURATION</b><!--[if IE 7]><!--></a><!--<![endif]-->
		<!--[if lte IE 6]><table><tr><td><![endif]-->
		<div class="select_sub show">
			<ul class="sub">
			    <li ><a href="{{URL_PREFIX}}/course/">COURSES</a></li>
				<li class="sub_show"><a href="{{URL_PREFIX}}/subject/">SUBJECTS</a></li>
				<li><a href="{{URL_PREFIX}}/chapter/">CHAPTERS</a></li>
				<li><a href="{{URL_PREFIX}}/topic/">TOPICS</a></li>
			</ul>
		</div>
		<!--[if lte IE 6]></td></tr></table></a><![endif]-->
		</li>
		</ul>
		
		<div class="nav-divider">&nbsp;</div>
		                    
		<ul class="select"><li><a href="#nogo"><b>STUDENTS</b><!--[if IE 7]><!--></a><!--<![endif]-->
		<!--[if lte IE 6]><table><tr><td><![endif]-->
		<div class="select_sub ">
			<ul class="sub">
				<li><a href="#nogo">STATUS</a></li>
				<li class="sub_show"><a href="#nogo">PROGRESS</a></li>
				
			</ul>
		</div>
		<!--[if lte IE 6]></td></tr></table></a><![endif]-->
		</li>
		</ul>
		
		<div class="nav-divider">&nbsp;</div>
		
		
		
		<div class="clear"></div>
		</div>
		<div class="clear"></div>
		</div>
		<!--  start nav -->
{%endblock%}


{%block content_header%}
	<div id="page-heading">
	    <table border="0" width="97%">
	    	<tr>
	    	<td><b style="font-size:25px;font-weight:bold;">&nbsp;&nbsp;&nbsp;Creating New Subject</b></td>
	    	<td align="right"><a style="background:#527A00;color:white;border-radius:5px;padding:10px;font-weight:bold;" href="{{URL_PREFIX}}/subject/"> Back </a</td>
	    	</tr>
	    </table>
	</div>
{%endblock%}


{%block main_content%}
	<form id="mainform" action="" method="post">
	           <table border="0" width="80%" cellpadding="0" cellspacing="0" >
					<tr valign="top">
					<td>
					
					
						<!--  start step-holder -->
						<div id="step-holder">
							<div class="step-no">-</div>
							<div class="step-dark-left"><a href="">subject details</a></div>
							
						</div>
						<!--  end step-holder -->
					
						<!-- start id-form -->
						<table border="0" cellpadding="0" cellspacing="0"  id="id-form">
						<tr>
						<th valign="top">Belongs to Course:</th>
						<td>	
						<select  class="styledselect_form_1" name="belong_to_course" >
						    	<option value="-1" selected>Select Subject</option>
							{%for c in courses%}
								{%if belong_to_course == c.id%}
								<option value="{{c.id}}" selected>{{c.name|upper}}</option>
								{%else%}
								<option value="{{c.id}}" >{{c.name|upper}}</option>
								{%endif%}  
							{%empty%}
								<option value="-1" selected>Not Found !</option>
							{%endfor%}
						</select>
						</td>
						<td>
							<div class="error-left"></div>
							<div class="error-inner">This field is required.</div>
							</td>
						</tr>
						
						<tr>
							<th valign="top">Subject Code:</th>
							<td><input type="text" class="inp-form" name="subject_code" value="{{subject_code}}"/></td>
							<td>
							<div class="error-left"></div>
							<div class="error-inner">This field is required.</div>
							</td>
						</tr>
						<tr>
							<th valign="top">Subject Name:</th>
							<td><input type="text" class="inp-form" name="subject_name" value="{{subject_name}}" /></td>
							<td>
							<div class="error-left"></div>
							<div class="error-inner">This field is required.</div>
							</td>
						</tr>
						
						<tr>
						<th valign="top">Status:</th>
						<td>	
						<select  class="styledselect_form_1" name="subject_status" value="{{subject_status}}">
						    {% if subject_status == 1%}
							<option value="1" selected>Active</option>
							{%else%}
							<option value="1" >Active</option>
							{%endif%}
							
							
							{%if subject_status == 0%}
							<option value="0" selected>In-active</option>
							{%else%}
							<option value="0">In-active</option>
							{%endif%}
						</select>
						</td>
						<td>
							<div class="error-left"></div>
							<div class="error-inner">This field is required.</div>
							</td>
						</tr> 
						
						
						
					<tr>
						<th valign="top">Description:</th>
						<td><textarea rows="" cols="" class="form-textarea" name="subject_desc" >{{subject_desc}}</textarea></td>
						<td></td>
					</tr>
					
					<tr>
						<th>&nbsp;</th>
						<td valign="top">
							<input type="submit" value="" class="form-submit" />
							<input type="reset" value="" class="form-reset"  />
						</td>
						<td></td>
					</tr>
					</table>
					<!-- end id-form  -->
				
					</td>
					<td>
				
					
				
				</td>
				</tr>
				
			</table>				<!--  end product-table................................... --> 
	</form>
{%endblock%}


